@page "~/categorias/{skip?}/{take?}"
@model MyRazorApp.Pages.Categories
@{
    ViewData["Title"] = "Categories";
}

<h2>Categorias</h2>
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
        <!--  "At"Model is a rference to a index model -->
        @foreach (var category in Model.CategoryList)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Title</td>
                <td>@category.Price.ToString("C", new CultureInfo("pt-BR"))</td>
            </tr>
        }
    </tbody>

</table>

@if (Model.ReturnHref != null)
{
    <a href="@Model.ReturnHref">&larr; Voltar / </a>
}

@if (Model.AdvanceHref != null)
{
    <a href="@Model.AdvanceHref"> Avançar &rarr;</a>
}